body {
    padding: 0%;
    margin: 0%;
    background-color: black;
}


/* navbar
    color palette
    #d1b58d
    #87565c
    #4a2d49
    #51445e
    #5d5c74
    #251725



 */

.container {
    margin: 0 auto;
    width: 80%;
}

header {
    background-color: #51445e;
    font-size: 24px;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

nav {
    float: right;
    height: 80px;
}

nav ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 75px;
    margin-right: 75px;
    padding-top: 30px;
    position: relative;
}

nav a {
    color: #87565c;
    text-shadow: 1.5px 1px #251725;
    text-decoration: none;
    text-transform: capitalize;
}

nav a:hover {
    color: black;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 0%;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}


/* End of navbar */

main {
    background-color: #4a2d49;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

#home {
    position: relative;
}

#welcomeBlurb {
    color: #87565c;
    text-shadow: 1px 1px black;
    margin: 0%;
    position: absolute;
    bottom: 50%;
    right: 40%;
}

.codeText {
    color: #d1b58d;
    font-style: italic;
}

h3 {
    margin: 0%;
}


/* Image */

.imageContainer {
    width: 200px;
    height: 200px;
    float: left;
}

.imageContainer img {
    width: 75%;
    height: auto;
    margin-left: 15px;
}

.blurb {
    text-align: center;
    color: #87565c;
    text-shadow: 1px 1px black;
}

.aboutMeInfo1 {
    width: 40%;
    height: 50%;
    margin: 0px;
}