body {
    padding: 0%;
    margin: 0%;
    background-color: grey;
}


/* navbar
    Pasture of Dreams color pallette from Canva
    Mauve #D3B1C2
    Lavender #C197D2
    Black
    Orchid #613659
 */

.container {
    margin: 0 auto;
    width: 80%;
}

header {
    background-color: #613659;
    font-size: 24px;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

nav {
    float: right;
    height: 80px;
}

nav ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 75px;
    margin-right: 75px;
    padding-top: 30px;
    position: relative;
}

nav a {
    color: #613659;
    text-shadow: 1.5px 1px black;
    text-decoration: none;
    text-transform: capitalize;
}

nav a:hover {
    color: black;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 0%;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}


/* End of navbar */

main {
    background-color: #D3B1C2;
}

#home {
    position: relative;
}

#welcomeBlurb {
    color: #613659;
    text-shadow: 1px 1px #3b2136;
    margin: 0%;
    position: absolute;
    bottom: 50%;
    right: 40%;
}

.codeText {
    color: grey;
    font-style: italic;
}